

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

#app, #game-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
